/* game board table */

body {
  background-color: #92A8D1;
}

h1 {
  font-family: 'Courier New', monospace;
  text-align: center;
}

#game {
  position: relative;
  background-color: aliceblue;
  width: 395px; /* Any width */
  height: 400px; /* Any height */
  margin-left: auto;
  margin-right: auto;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

/* make circles */
.piece {
  position: absolute;
  margin: 5px;
  width: 80%;
  height: 80%;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

/* make pieces red/blue,  depending on player 1/2 piece */
.piece.p1 {
  position: relative;
  border-radius: 50%;
  background-color: red;
}

.piece.p2 {
  position: relative;
  border-radius: 50%;
  background-color: blue;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

/* adding some annimation functionality */
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0px);
  }
}